@using survey.Models
@model Survey

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/style.css"/>

    </head>
    <body>
        <form asp-action="Submission" asp-controller="Home"  method="post">
            <span asp-validation-for="name"></span>
            <label asp-for="name">Your Name:</label>
            <input asp-for="name" type="text">
            <span asp-validation-for="location"></span>
            <label>Dojo Location:</label>
            <select asp-for="location">
                <option>San Jose</option>
                <option>Seattle</option>
                <option>LA</option>
                <option>Bellevue</option>
            </select>
            <label asp-for="language">Favorite Language</label>
            <span asp-validation-for="language"></span>
            <select asp-for="language">
                <option>C#</option>
                <option>Javascript</option>
                <option>Python</option>
                <option>Java</option>
            </select>      
            <label>Comment(optional):</label>
            <span asp-validation-for="comment"></span>
            <input asp-for="comment" type="text">

            <span asp-validation-for="date"></span>
            <label asp-for="date" type="text">Time:</label>
            <input asp-for="date" type="date">

            <input type="submit" value="submit">
            
        </form>
        
     
    </body>
</html>